<div class="container mx-auto py-6">
  {{#each posts}}
  <article class="mb-6">
    <div>
        <h2 id="{{id}}"><a href="/post/{{id}}" class="text-xl font-bold text-blue-600 hover:text-blue-800">{{title}}</a></h2>
      <span class="text-gray-500 text-sm">By: {{user.name}} on {{format_date createdAt}}</span>
    </div>
    <p class="mt-2 text-gray-700">{{body}}</p>
  </article>
  {{/each}}
</div>

{{#if logged_in}}
<script src="./js/logout.js"></script>
{{/if}}