<div class="container mx-auto py-6">
  <section class="mb-6">
    <div>
      <h2 id="post-title" data-post-id="{{post.id}}" class="text-3xl font-bold mb-2">{{post.title}}</h2>
      <span class="text-gray-500 text-sm">By: {{post.user.name}} on {{format_date post.createdAt}}</span>
    </div>
    <p class="mt-4 text-gray-700">{{post.body}}</p>
  </section>
  {{#if post.comments}}
  <section class="mb-6">
    <div>
      <h3 class="text-xl font-bold mb-2">Comments</h3>
    </div>
    {{#each post.comments as |comment|}}
    <div class="border border-gray-300 rounded p-4 mb-4">
      <p class="text-gray-700">{{comment.comment}}</p>
      <span class="text-gray-500 text-sm">By: {{comment.user.name}} on {{format_date comment.createdAt}}</span>
    </div>
    {{/each}}
  </section>
  {{/if}}
  {{#if logged_in}}
  <section>
    <form id="comment-form" class="mt-4">
      <div class="mb-4">
        <label for="new-comment-input" class="block text-gray-700 font-bold mb-2">New Comment</label>
        <textarea name="new-comment-input" id="new-comment-input" placeholder="Add comment here..."
          class="resize-none border rounded py-2 px-3 w-full focus:outline-none focus:shadow-outline"
          required></textarea>
      </div>
      <button type="submit" id="comment-btn"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
    </form>
  </section>
  {{/if}}
</div>

{{#if logged_in}}
<script src="../js/comment.js"></script>
{{/if}}

{{#if logged_in}}
<script src="../js/logout.js"></script>
{{/if}}